.burger-menu {
    display: none;

    @media (max-width: 900px) {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 9999;
        width: 100%;
        height: 100vh;
        background-color: $white;
        transition: 0.5s left;
        overflow: auto;
    }

    @media (max-width: 575px) {
        width: 100%;
    }

    &--active {
        @media (max-width: 900px) {
            left: 0;
        }
    }
}

.burger-menu {


    &__top {
        background-color: $main-color;
        height: 88px;
        padding: 15px;
    }

    &__back-btn,
    &__submenu-back {
        position: relative;
        padding-left: 15px;
        font-family: 'Museo Sans Cyrl 500';
        font-size: 16px;
        line-height: 10px;
        color: #fff;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 6px;
            height: 11px;
            background-image: url(../img/icons/back.svg);
        }
    }

    &__nav {
        position: relative;
        z-index: 101;
    }

    &__item {
        padding: 25px 15px;

        &:not(:last-child) {
            border-bottom: 1px solid #F5F5F5;
        }
    }

    &__submenu {
        position: absolute;
        left: -100%;
        top: 0;
        background-color: $white;
        z-index: 200;
        width: 100%;
        height: 100vh;

        &--active {
            left: 0;
        }
    }

    &__sublist-link {
        text-transform: uppercase;
    }

    &__submenu-title {
        background-color: #F7F8F9;
        padding: 25px 15px;
        font-size: 14px;
        line-height: 10px;
        font-family: $font-700;
    }

    &__link {
        display: block;
        font-size: 14px;
        line-height: 10px;
        color: $main-color;

        &--active {
            color: $blue;
        }
    }

    &__item-drop {
        width: 20px;

        svg {
            width: 6px;
            height: 10px;
        }
    }


    &__buttons {
        background-color: #F7F8F9;

        li {
            border-top: 1px solid $second-color;
            padding: 25px 15px;
        }
    }

    &__btn {
        svg {
            width: 15px;
            height: 15px;
            flex-shrink: 0;
            margin-right: 15px;
        }
    }

    &__cart {
        span {
            margin-left: 10px;
        }
    }

    &__contact {
        padding: 25px 15px 15px;
    }

    &__contact-title {
        font-size: 14px;
        line-height: 10px;
        font-family: $font-300;
        margin-bottom: 25px;
    }
}

.contacts {
    &__item {
        white-space: nowrap;
        font-size: 14px;
        line-height: 20px;
        color: $main-color;
        padding: 10px 0;

        &:not(:last-child) {
            border-bottom: 1px solid $border-light;
        }

        div span {
            font-size: 11px;
            color: $second-color;
            display: block;
        }

        >span {
            font-size: 20px;
            line-height: 20px;
            color: $second-color;
            margin-right: 12px;
        }

        svg {
            width: 14px;
            height: 14px;
            flex-shrink: 0;
            margin-right: 10px;
        }
    }
}