.news {
    background: $white;

    @media(max-width: 575px) {
        padding-bottom: 20px;
    }

    &__title {
        @media(max-width: 768px) {
            font-size: 16px;
        }
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        margin: 6px 0 30px;

        @media(max-width: 1420px) {
            margin-bottom: 15px;
        }

        @media(max-width: 1024px) {
            margin-top: 18px;
            margin-bottom: 0;
        }

        @media(max-width: 770px) {
            margin-top: 30px;
            margin-bottom: 0;
        }

        @media(max-width: 575px) {
            margin-top: 15px;
            margin-bottom: 0 !important;
        }
    }

    &__btn {
        display: inline-block;
        padding: 10px 40px;
        font-size: 14px;
        line-height: 24px;

        @media(max-width: 1420px) {
            margin-top: 30px;
        }

        @media(max-width: 1024px) {
            margin-top: 10px;
        }
    }
}

.news-card {
    display: none;
    width: 330px;
    min-width: 330px;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }

    @media(max-width: 1024px) {
        margin-right: 30px;
    }

    @media(max-width: 770px) {
        width: 354px;
        min-width: 354px;
        margin-right: 15px;
    }

    @media(max-width: 575px) {
        width: 275px;
        min-width: 275px;
    }


    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
        display: block;
    }

    &__img {
        display: block;
        height: 210px;
        margin-bottom: 25px;
        overflow: hidden;

        img {
            transition: .5s transform;

            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        @media(max-width: 1024px) {
            height: 198px;
            margin-bottom: 20px;
        }

        @media(max-width: 768px) {
            height: 225px;
        }

        @media(max-width: 575px) {
            height: 185px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__date {
        font-size: 12px;
        line-height: 14px;
        color: $second-color;
        margin-bottom: 15px;
        display: block;
    }


    &__title {
        font-size: 18px;
        line-height: 26px;
        color: $main-color;
        transition: .3s all;

        a {
            display: inline-block;

            @media (any-hover: hover) {
                &:hover {
                    text-decoration: underline;
                    color: $blue;
                }
            }
        }
    }
}

.news__cards--default {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 30px;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, auto);
    }

    @media (max-width: 900px) {
        grid-template-columns: repeat(2, auto) !important;
    }

    @media (max-width: 500px) {
        grid-template-columns: repeat(1, auto) !important;
    }

    .news-card {
        display: block;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        margin-right: 0;
    }
}

.news-last {
    background: $border-light;
}