.map-row {
    display: flex;
    margin-top: 30px;

    @media (max-width: 600px) {
        margin-top: 20px;
        flex-direction: column-reverse;
    }
}

.map {
    width: 690px;
    height: 331px;

    @media (max-width: 600px) {
        width: 100%;
    }
}

.map-select {
    width: 450px;
    margin-left: 30px;

    @media (max-width: 600px) {
        width: 100%;
        margin: 0 0 15px 0;
    }

    &__item {
        width: 100%;
        height: 48px;
        border: 1px solid $border-card;
        border-radius: 3px;
        padding: 16px 15px 15px;
        margin-bottom: 15px;
        position: relative;

        &.active {
            border: 1px solid $blue;

            &::before {
                content: '';
                display: block;

                position: absolute;
                width: 12px;
                height: 100%;
                background: url(../img/icons/arrow-left.svg) no-repeat center;
                left: -13px;
                top: 0;

                @media (max-width: 600px) {
                    display: none;
                }
            }
        }
    }
}