.product {
    @media(max-width: 768px) {
        padding-bottom: 20px;
    }

    &__title {
        margin-top: 20px;
        margin-bottom: 4px;

        @media(max-width: 1024px) {
            display: none;
        }
    }

    /* .product__cards--default */

    .product__cards--default {
        border-right: 0;
        display: grid;
        grid-template-columns: repeat(5, auto);

        .product-card {
            max-width: 282px;
            min-width: 282px;
        }

        @media(max-width: 1200px) {
            display: flex;
            flex-wrap: wrap;

            .product-card {
                max-width: 25%;
                min-width: 25%;
            }

            .product-card__labels {
                flex-wrap: wrap;
            }
            .product-filter {
                .product-card {
                    max-width: 100% !important;
                    min-width: 100% !important;
                }
            }
        }

        @media(max-width: 1000px) {

            .product-card {
                max-width: calc(100% / 3);
                min-width: calc(100% / 3);
            }
        }

        @media(max-width: 750px) {
            .product-card {
                max-width: calc(50%);
                min-width: calc(50%);
            }
        }

        @media(max-width: 600px) {
            .product-card {
                padding: 70px 5px 10px;
            }

            .product-filter {
                .product-card {
                    max-width: 100%;
                }
            }

            .product-card__new-price {
                font-size: 11px;
                line-height: 13px;
            }

            .product-card__old-price {
                font-size: 8px;
                line-height: 10px;
            }

            .product-card__labels {
                top: 5px;
                padding: 0 5px;
            }

            .product-card__label {
                margin: 0 5px 5px 0;
            }

            .product-card__btn {
                font-size: 8px;
                line-height: 28px;
                height: 28px;
                padding: 0;
            }

            .counter {
                height: 28px;
            }

            .counter__input {
                font-size: 8px;
            }

            .counter__btn {
                font-size: 9px;
            }

            .product-card__economy {
                font-size: 8px;
            }

            .product-card__price-block {
                margin-bottom: 13px;
            }

            .product-card__prices {
                margin-bottom: 5px;
            }

            .product-card__title {
                font-size: 10px;
                line-height: 14px;
                min-height: 44px;
            }

            .product-card__img {
                width: 100%;
                height: 116px;
                margin-bottom: 16px;
            }
        }
    }


    /* product__cards--scroll */

    .product__cards--scroll {
        border-right: 0;
        display: flex;
        padding: 1px;

        .product-card {
            height: auto;
            width: 281px;
            min-width: 281px;
            max-width: 281px;
            display: none;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
                display: flex;
            }
        }

        @media(max-width: 575px) {
            .product-card {
                padding: 70px 20px 20px;
                width: 260px;
                min-width: 260px;
            }

            .product-card__new-price {
                font-size: 18px;
                line-height: 21px;
            }

            .product-card__old-price {
                font-size: 12px;
                line-height: 14px;
            }

            .product-card__btn {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}

.product-card {
    position: relative;
    justify-content: space-between;
    width: 100%;
    min-height: 476px;
    padding: 57px 20px 18px 18px;
    transition: .3s box-shadow;
    display: flex;
    flex-direction: column;
    background: $white;

    box-shadow: 0 0 0 1px $border-card;

    &:last-child {
        width: calc(100% + 1px);
    }

    @media(max-width: 575px) {
        min-height: 307px;
        padding: 70px 20px 20px;
    }

    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0px 4px 20px rgba(96, 96, 96, 0.25);
            z-index: 2;
        }
    }

    &__labels {
        position: absolute;
        width: 100%;
        padding: 0 18px;
        top: 18px;
        left: 0;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        @media(max-width: 770px) {
            flex-wrap: wrap;
        }

        @media(max-width: 575px) {
            top: 20px;
            padding: 0 20px;
            justify-content: flex-start;
        }
    }

    &__label {
        display: inline-block;
        padding: 6px;
        text-align: center;
        font-family: $font-700;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        color: $white;
        text-transform: uppercase;
        white-space: nowrap;
        margin-right: 8px;
        margin-bottom: 8px;


        @media(max-width: 575px) {
            font-size: 8px;
            line-height: 13px;
        }

        &.sale {
            background-color: $red;
        }

        &.recommend {
            background-color: #893CA9;
        }

        &.hit {
            background-color: #FFC438;
            color: $main-color;
        }

        &.new {
            background-color: #2992D9;
        }
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        margin: 0 auto 15px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            img {
                max-height: 100%;
            }
        }

        @media(max-width: 575px) {
            width: 152px;
            height: 171px;
            margin-bottom: 30px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        font-size: 14px;
        line-height: 20px;
        color: $main-color;
        flex: 1 1 auto;
        margin-bottom: 20px;
        min-height: 60px;

        a {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        @media(max-width: 575px) {
            margin-bottom: 15px;
        }
    }

    &__price-block {
        flex: 1 1 auto;
        margin-bottom: 20px;

        @media(max-width: 575px) {
            margin-bottom: 20px;
        }
    }

    &__prices {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        white-space: nowrap;
    }

    &__new-price {
        font-family: 'Museo Sans Cyrl 700';
        font-size: 18px;
        line-height: 21px;
    }

    &__old-price {
        position: relative;
        font-size: 12px;
        line-height: 21px;
        text-decoration-line: line-through;
        color: $second-color;
        margin-left: 7px;

        &:before {
            content: '';
            position: absolute;

        }
    }

    &__economy {
        border: 2px solid $red;
        padding: 2px 6px;
        font-family: $font-500;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: $main-color;
        white-space: nowrap;
    }


    &__btn {
        @extend .btn;
        padding: 12px;
        font-size: 13px;
        font-family: 'Museo Sans Cyrl 500';
        color: $white;
        text-transform: uppercase;
        height: 39px;

        @media(max-width: 1024px) {
            padding-left: 5px;
            padding-right: 5px;
        }

        &--disabled {
            display: none;
            background-color: $border-light;
            color: $main-color;
            width: 100%;
            font-family: 'Museo Sans Cyrl 500';
        }

        &--basket {
            display: none;
            width: 100%;
            font-family: 'Museo Sans Cyrl 700';
        }

        &--preorder {
            display: none;
            width: 116px;
            margin: 0 auto;
        }
    }



    &__buttons {
        grid-gap: 10px;
    }

    &--discount {
        .product-card {

            &__old-price {
                display: inline-block;
            }

            &__economy {
                display: inline-block;
            }
        }
    }

    &--out-of-production {
        .product-card {
            &__new-price {
                color: $second-color;
            }
        }

        .product-card__btn--disabled {
            display: block;
        }

        .product-card__buttons {
            display: none;
        }

        .product-card__btn--basket {
            display: none;
        }
    }

    &--in-basket {
        .product-card__btn--basket {
            display: block;
        }

        .product-card__buttons {
            display: none;
        }
    }

    &--preorder {
        .product-card__btn--preorder {
            display: block;
        }

        .product-card__buttons {
            display: none;
        }

        .product-card__btn--basket {
            display: none;
        }
    }
}


/* ======= */
/* ======= */
/* ======= */
/* ======= */

.product {
    .product-card {
        &__labels {
            flex-direction: column;
        }

        &__label {
            width: max-content;
            font-family: "Museo Sans Cyrl 500";
        }

        .counter__btn {
            font-size: 17px;
        }

        .counter__input {
            border: 0;
            font-size: 15px;
        }
    }


    .product__cards--default {
        .product-card {
            &__title {
                a {
                    font-family: "Museo Sans Cyrl 700";
                }
            }
        }

        .product-card__old-price {
            font-size: 14px;
            font-family: "Museo Sans Cyrl 700";
        }

        .product-card__economy {
            font-family: "Museo Sans Cyrl 700";
        }
    }

    .product__cards--scroll {
        .product-card {
            &__title {
                a {
                    font-family: "Museo Sans Cyrl 700";
                }
            }
        }

        .product-card__old-price {
            font-size: 14px;
            font-family: "Museo Sans Cyrl 700";
        }

        .product-card__economy {
            font-family: "Museo Sans Cyrl 700";
        }
    }
}

@media (max-width: 1350px) {
    .product {
        .product__cards--default {
            display: flex;
            flex-wrap: wrap;

            .product-filter {
                width: 20%;
            }
        }
    }
}

@media (max-width: 1250px) {
    .product {
        .product__cards--default {
            .product-filter {
                width: 25%;
            }
        }
    }
}

@media (max-width: 1020px) {
    .product {
        .product__cards--default {
            .product-filter {
                width: calc(100% / 3);
            }
        }
    }
}

@media (max-width: 760px) {
    .product {
        .product__cards--default {
            .product-filter {
                width: calc(100% / 2);
            }
        }
    }
}

@media (max-width: 600px) {
    .product {
        .product-card {
            &__price-block {
                min-height: 46px;
            }

            .counter__btn {
                font-size: 15px;
            }

            .counter__input {
                border: 0;
                font-size: 12px;
            }

            &__label {
                padding: 6px 8px 5px;
                font-size: 10px;
                line-height: 10px;
                font-weight: 100;
                margin-bottom: 5px;
            }
        }


        .product__cards--default {
            .product-card {
                padding: 30px 5px 10px;

                &__title {
                    font-size: 12px;
                    line-height: 16px;
                }
            }

            .product-card__new-price {
                font-size: 15px;
                line-height: 21px;
            }

            .product-card__old-price {
                font-size: 10px;
                line-height: 14px;
            }
        }

        .product__cards--scroll {
            .product-card {
                padding: 20px;
            }
        }
    }
}

@media (max-width: 400px) {
    .product {
        .product__cards--default {
            .product-filter {
                width: 50%;
            }

            .product-card__label {
                font-size: 8px;
                line-height: 9px;
            }

            .product-card__title {
                font-size: 10px;
                line-height: 15px;
            }

            .product-card__new-price {
                font-size: 12px;
                line-height: 21px;
            }

            .product-card__old-price {
                font-size: 9px;
                line-height: 16px;
            }
        }
    }
}

@media (max-width: 350px) {
    .product {
        .product__card {
            .counter__btn {
                font-size: 13px;
            }

            .counter__input {
                border: 0;
                font-size: 11px;
            }
        }

        .product__cards--default {
            .product-card__new-price {
                font-size: 11px;
                line-height: 15px;
                font-family: "Museo Sans Cyrl 500";
            }

            .product-card__old-price {
                font-size: 8px;
                line-height: 15px;
                font-family: "Museo Sans Cyrl 500";
                margin-left: 4px;
            }
        }
    }
}