.btn {
    text-align: center;
    transition: .3s all;
    font-family: 'Museo Sans Cyrl 300';
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    padding: 7px;
}

.blue-btn {
    @extend .btn;
    background: #1AA0E8;

    &:hover {
        box-shadow: 0px 3px 15px rgba(26, 160, 232, 0.15);
    }

    &:active,
    &:focus {
        background: #1279B0;
    }
}

.red-btn {
    @extend .btn;
    background: #E73C3C;

    &:hover {
        box-shadow: 0px 3px 15px rgba(229, 41, 41, 0.15);
    }

    &:active,
    &:focus {
        background: #C21818;
    }
}

.green-btn {
    @extend .btn;
    background: #4FAD03;

    &:hover {
        box-shadow: 0px 3px 15px rgba(229, 41, 41, 0.15);
    }

    &:active,
    &:focus {
        background: #C21818;
    }
}

.btn-disabled {
    background: #A7A7A7 !important;
    box-shadow: none !important;
}

.counter {
    background-color: #F5F5F5;
    height: 39px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    // .counter__btn

    &__btn {
        position: relative;
        background-color: transparent;
        cursor: pointer;
        width: 100%;
        height: 100%;
        text-align: center;

        &.minus-btn {

            &:after {
                display: none;
            }
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: #424242;
        }

        &:before {
            width: 8px;
            height: 1px;
        }

        &:after {
            width: 1px;
            height: 8px;
        }
    }

    // .counter__input

    &__input {
        width: 100%;
        height: 100%;
        text-align: center;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        font-size: 13px;
        line-height: 21px;
        color: #424242;
        margin: 0;

    }
}