.bread-crumbs {
    padding: 20px 0;
    background: $white;

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        margin-right: 15px;
        font-size: 16px;
        line-height: 19px;
        color: $blue;

        svg {
            position: relative;
            top: 1px;
        }
    }

    &__link {
        color: $main-color;
    }


    &__item--back {
        display: none;
    }

    @media(max-width: 770px) {
        & {
            padding-bottom: 7px;

            &__item {
                display: none;
            }
        }

        &__item--back {
            display: block;
            width: 100%;

            a {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                line-height: 19px;
                color: $main-color;
                position: relative;

                svg {
                    position: absolute;
                    left: 0;
                }
            }
        }
    }
}