* {
    box-sizing: inherit;

    &:before,
    &:after {
        box-sizing: inherit;
    }
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 320px;
    font-family: 'Museo Sans Cyrl 300';
    font-style: normal;
    font-weight: 300;

    &._lock {
        overflow-y: hidden;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: normal;
}

ul,
ol,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

dl,
dd,
dt {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

select,
button,
input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

input,
textarea {
    cursor: default;
}

textarea {
    resize: none;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

figure,
figcaption {
    margin: 0;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

section {
    padding: 30px 0;
}

.width-100 {
    width: 100% !important;
}

.inside-page {
    background: #fff;
    padding-bottom: 20px;
}

.mobile-scrolled {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    position: relative;
    z-index: 5;
    margin-bottom: -10px;
    padding-bottom: 10px;
}

.mobile-scrolled::-webkit-scrollbar-thumb {
    background: #1AA0E8;
    border-radius: 5px;
}

.mobile-scrolled::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
}

.mobile-scrolled::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
}

.mobile-scrolled::-webkit-scrollbar {
    width: 0;
    height: 5px;
}

.mobile-scrolled {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none
}

.mobile-scrolled {
    position: relative;
    z-index: 5;
}

@media (max-width: 1025px) {
    .mobile-scrolled {
        overflow-x: scroll;
        margin-right: -20px;
        padding-right: 20px;
    }
}

@media (max-width: 770px) {
    .mobile-scrolled {
        margin-right: -15px;
        padding-right: 15px;
    }
}

@media (max-width: 570px) {
    .mobile-scrolled {
        margin-bottom: 5px;
    }
}

@media (max-width: 1024px) {
    .container {
        padding: 0 15px;
    }

    section {
        padding: 20px 0;
    }
}

@media (max-width: 770px) {
    .page {
        padding-top: 88px;
    }
}