$blue:#1AA0E8;
$blue-dark:#1279B0;
$green:#4FAD03;
$green-dark:#3B8202;
$red:#E73C3C;
$red-dark:#C21818;
$white:#ffffff;

$main-color:#333333;
$second-color:#A7A7A7;
$border-card:#dddddd;
$border-light:#F7F8F9;

$container: 1415px;
$gap: 0;


$font-300: "Museo Sans Cyrl 300";
$font-500: "Museo Sans Cyrl 500";
$font-700: "Museo Sans Cyrl 700";