@import './reviews-leave/reviews-leave';
@import './reviews-item/reviews-item';

.product-reviews {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #EBEBEB;
        padding-bottom: 22px;
        margin-bottom: 30px;

        @media(max-width: 575px) {
            flex-wrap: wrap;
            margin-bottom: 20px;
        }

        &.add-reviews {
            border-bottom: 0;
            margin-bottom: 0;
        }

        .tit {
            font-size: 16px;
            line-height: 24px;
            color: $main-color;
            display: flex;
            align-items: center;
            font-family: $font-500;

            @media(max-width: 575px) {
                width: 100%;
                font-size: 14px;
                line-height: 24px;
            }
        }

        .reviews-number {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px 6px 1px;
            font-size: 14px;
            line-height: 17px;
            color: $blue;
            margin-left: 10px;
            border: 1px solid $blue;
            border-radius: 3px;

            @media(max-width: 575px) {
                font-size: 12px;
                padding: 1px 4px 0;
            }
        }

        .info {
            display: flex;
            align-items: center;

            @media(max-width: 575px) {
                width: 100%;
                justify-content: space-between;
                margin-top: 10px;
            }
        }

        .rating {
            margin-right: 30px;
        }

        .btn--reviews-leave {
            width: 133px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}